@import "../Cardapio/style";
@import "../../styles/variables/colors";

.form-endereco {
  @extend .form-cardapio;
  min-height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2em 5em;

  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr;
    padding: 2em 1em !important;
  }
}

.div-endereco {
  display: flex;
  flex-direction: column;
  background-color: $branco;
}

.label-endereco-texto {
  background-color: $branco;
  font-size: 1.5em;
  margin: 1em 1em;
}

.input-endereco-texto {
  background-color: $branco;
  font-size: 1.2em;
  padding: 0.2em 0;
  width: 90%;
  border: none;
  border-bottom: solid 0.15em;
  margin: 0 1em;

  &-concluido {
    border-color: $terciaria;
  }

  &-naoValido {
    border-color: $primaria;
  }
  &:focus {
    outline: none;
  }

  &:last-of-type {
    margin-bottom: 1em;
  }
}

.button-endereco {
  @extend .button-cardapio;
  width: auto;
  justify-self: end;
  margin: 0 3em 0 0;
  @media screen and (max-width: 1200px) {
    justify-self: start;
    margin: 1.5em 0em 2em 1em;
  }
}

.span-endereco-erro {
  background-color: $branco;
  padding: 0 0 0 1em;
  color: $primaria;
}


.div-botoes {
  background-color: $branco;
  display: flex;
  justify-content: flex-start;
}