@import "../../../styles/variables/colors";

.nav-cardapio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  background-color: $branco;
  margin: 0 12em;

  @media screen and (max-width: 1200px) {
    margin: 0;
  }

  @media screen and (max-width: 992px) {
    justify-content: center;
    align-items: center;
    padding-top: 1em;
  }

  @media screen and (max-width: 600px) {
    padding-top: 2em;
  }
}

.menu-item-macarrao-ativo {
  background-color: $terciaria;
  color: $branco;
}

.div-item-flex {
  background-color: $branco;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}
