@import "../../styles/variables/colors";

.logo {
  background-image: url('../../assets/img/logo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 6em;
  width: 6em;
  border-radius: 100%;
  border: solid 0.1em;
  margin: 0 2em 0 0;
  @media only screen and (max-width: 600px) {
    margin: 0.5em 0em;
  }
}


.logo-link {
  background-color: $primaria !important;
  margin-left: 12vw;
}
.menu-item_cabecalho_hover {
  &:hover {
    background-color: $verde-selecionado;
    border-color: $branco;
    .link {
      color: $branco;
      background-color: $verde-selecionado;
      display: block;
    }
  }
}
