@import "../../styles/variables/colors";

.logo {
  height: 12em;
  margin: 0 2.5em 0 0;
  border-radius: 50%;
  border: solid 0.2em;
  @media only screen and (max-width: 600px) {
    height: 9em;
    margin: 0.5em 0em;
  }
}

.logo-link {
  background-color: $primaria !important;
  margin-left: 12vw;
}
.menu-item_cabecalho_hover {
  &:hover {
    background-color: $verde-selecionado;
    border-color: $branco;
    .link {
      color: $branco;
      background-color: $verde-selecionado;
      display: block;
    }
  }
}
